body {
  background: #90f0f7;
  font-family: "Roboto", sans-serif;
}
 

    


.current-text-title {
    font-size: 48px;
    color: rgb(21, 21, 242);
  
}

.current-text {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: purple;
   background: whitesmoke;
   margin: 20px;
   padding: 50px;
   border-radius: 10px;
}

.current-image {
    display: block;
    size-adjust: contain; 

}